# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# Database files
*.sqlite3
*.db

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Migrations (optional)
# migrations/
# */migrations/